@font-face {
    font-family: "Pokemon"; 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); 
}

@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

a, a:visited {
    color: #000000;
    text-decoration: none;
    margin-right: 0px;
}

a:hover {
    text-decoration: underline;
}

body, .button {
    font: normal 90% Verdana;
    margin: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.dex-border {
    background-color: #dd0025;
    min-height: 90vh;
    min-width: 90vw;
}

.dex-inset {
    background-color: #c90021;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 99vh;
    padding: 10px;
    border-left: inset 1.5vw #ff002b;
    border-right: inset 1.5vw #be0020;
    align-content: center;
}

.dex-screen {
    background: #cbf9ff;
    border-radius: 4.5vw;
    border: double .62vw  #ffffff;
    color: rgb(0, 0, 0);
    display: block;
    min-height: 30vw;
    margin-top: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5vw;
    padding: 8px;
    text-decoration: none;    
}

.header {
    text-align: center;
    font-family: 'Pokemon';
    color: #ffd900; 
    font-size: 5vw; 
}

nav {
    text-align: center;
}

.nav-link, .nav-link:visited {
    color: #ffffff;
    text-decoration: none;
    font-size: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.nav-link:hover {
    text-decoration: underline;
}

.screen-content {    
    margin: 1vw;
    padding: 2px;
    border: solid 1px #000000; 
    border-radius: 2.5vw;
}

.row {
    display: flex;
    text-align: center;
}
  
.column {
    flex: 33%;
    padding: 5px;
}

.column-data {
    margin-left: 32%;
    font-size: .99vw;
    text-align: left;
}

.entry-row {
    display: flex;
    text-align: center;
}

.entry-row2 {
    display: flex;
    text-align: center;
}

.entry-row3 {
    display: flex;
    text-align: center;
    margin-bottom: 2px;
}

.entry-col {
    flex: 100%;
    padding: 2px;
    margin: 1px;
}

.entry-col2 {
    flex: 50%;
    padding: 5px;
    margin: 5px;
}

.entry-col-img {
    flex: 50%;
}

.entry-col-img2 {
    flex: 50%;
    padding: 2px;
    margin: 1px;
}

.entry-name {
    padding: 2px;
    margin: 1px;
    font-size: 2vw;
    text-align: left;
}

.entry-data {
    padding: 2px;
    margin: 1px;
    font-size: .99vw;
    text-align: left;
}

.entry-img {
    border-radius: 3.5vw;
    height:16vw;
}

.entry-img2 {
    border-radius: 3.5vw;
    height:16vw;
}

.evo-row {
    display: flex;
} 

.evo-col-img {
    flex: 0%;
}

.evo-col-arrow {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.2vw;
    margin-left: .8vw;
}

.evo-data {
    flex: 100%;
    border-radius: 1.7vw;
    height: fit-content;
    padding: 2px;
    margin: .9vw;
    color: #ffffff;
    border: solid .1vw #000000;
}

.evo-img1 {
    height: 7vw ;
    float:right;
}

.evo-img2 {
    height: 7vw ;
    float:none;
}

.evo-img3 {
    height: 7vw ;
    float:left;
}

.evo-arrow-right {
    height: 2.4vw ;
    margin-top: 1vw;
}

.evo-level {
    flex: auto;
    font-size: .7vw;
}

.entry-nav-row {
    display: flex;
    margin-bottom: 0px;
}

.entry-nav-row2 {
    display: flex;
    margin-bottom: 0px;
}

.entry-nav-col {
    flex: 50%;
    padding: 2px;
}

.entry-nav-col2 {
    padding: 2px;
    margin: 0px;
}

.previous {
    padding: 0px;
    margin: 0px;
    float: left;
}

.next {
    padding: 0px;
    margin: 0px;
    float:right;
}

.link-img {
    border-radius: .2vw;
    height:3vw;
}

.previous-next-link {
    margin-top: 1.3vw;
    font-size: .8vw;
}